<div class="container">
    <%= form_with(model: @groups) do |form| %>   

    <% if  @groups.errors.any? %>
        <div style="color: red">
            <h2><%= pluralize( @groups.errors.count, "error") %> prohibited this group from being saved:</h2>
            <ul>
                <% @groups.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <h1>Create new Group</h1>

        <%= form.label :name , class: "form-label"%>
        <%= form.text_field :name , class: "form-control"%>

        <%= form.label :icon , class: "form-label"%>
        <%= form.file_field :icon , class: "form-control"%>

        <%= form.submit "Add Group", class: "btn btn-primary mt-3" %>
    <% end %>
</div>
